{% extends "pagelayout.html"%}

{% block body %}


<h1>Witamy Cię, {{ placeholder }}, w kawiarni Brewistan!</h1>
<br>
<p class="fota">
<img src="Images/main1.jpg" alt="Kawa i kawiarka" >
</p>
<p>
Brewistan założyliśmy z wieloletniej pasji do tego magicznego napoju z palonych ziaren, który jest czymś więcej niż tylko sposobem na pobudzenie – kawy. 
Choć od lat raczymy się nim w każdej możliwej odmianie, nasze serca skradł szczególnie jeden jej rodzaj, a właściwie sposób przygotowania – <strong>cold brew</strong>. 
<p style="text-align-last: center;">Jeśli nie miałeś/miałaś nigdy okazji spróbować, <b>lepszej okazji i miejsca nie znajdziesz!</b></p>
</p>

<p class="fota">
<img src="Images/main2.jpg" alt="filiżanka kawy" style="display: ruby;">
</p>

<a href="Menu/Menu.html" style="text-align: center; color: darkred;" target="_blank" >Zobacz nasze menu!</a>

<p>Nie wiesz, <strong>co to jest cold brew</strong>, a sama nazwa nie obiła Ci się nawet o uszy? To nic – spieszymy z wyjaśnieniem!</p>

<h2>Czym jest cold brew, czyli nasza specjalność?</h2>

<p>Kawa kojarzy nam się tradycyjnie ze zmielonymi ziarnami zalanymi wrzątkiem. Choć to zapewne najczęstszy sposób jej przyrządzania, wcale nie oznacza to, że jedyny (a już tym bardziej, że najlepszy!). <strong>Sposobów parzenia kawy</strong> jest znacznie więcej: w kawiarce, przy użyciu areopresu lub french presu, filtrując ją przez syfon albo stawiając na wersję dla cierpliwych (choć oczekiwanie jest tego warte), czyli drip.</p>
<p>Wszystko pięknie, jednak każda z nich jest metodą służącą do przygotowania kawy na ciepło. A ta potrafi być przecież orzeźwiającym, zimnym napojem idealnym na upalne, letnie dni. Powszechnie znanym rozwiązaniem jest <strong>kawa mrożona</strong>, jednak w tym wydaniu szlachetny smak ziaren niknie w zalewie mleka i innych dodatków, bowiem najczęściej jest to po prostu espresso wymieszane z zimnymi składnikami.</p>

<p>Czyżby klasyczny impas? Nic bardziej mylnego! Istnieje jeszcze jedna wioska galów… a raczej jeszcze jedna metoda, pozwalająca zachować pełnię aromatu zimnej kawy. Mowa właśnie o <strong>cold brew</strong>!</p>

<h2>…ale jak przygotować cold brew?</h2>
<p>Najprościej rzecz ujmując, a jest to przepis, który można znaleźć w wielu miejscach w Internecie, cold brew to kawa zalana wodą, odstawiona na dość długo do zaparzenia (nawet do 12 godzin), a następnie przefiltrowana. Być może brzmi to prosto, ale gwarantujemy, że jak mało kto potrafimy z tego krótkiego przepisu przygotować małe kawowe dzieła sztuki. Nasze <strong>cold brew w Brewistanie</strong> to efekt dziesiątek godzin eksperymentowania i doprowadzania tej pozornie prostej procedury do perfekcji. Dzięki temu jesteśmy Wam w stanie zaserwować nie tylko kawę w klasycznym wydaniu, ale również <strong>cold brew z dodatkami</strong> oraz w różnych innych, nieszablonowych odsłonach.</p>


<p><a href="Store/Store.html" target="_blank">Zajrzyj do naszego sklepu</a>, gdzie sprzedajemy również sprzęt do parzenia kawy oraz różne rodzaje ziaren!</p>

<p class="test">Oczywiście nie twierdzimy, że jest to jedyny słuszny rodzaj ziarnistego napoju. Na życzenie serwujemy również klasyczne, dobrze wszystkim znane rodzaje kawy na ciepło: espresso, cappuccino, latte machiato, americane, moke.</p>

<h2>Cold brew? Tylko w kawiarni Brewistan!</h2>

<q style="font-size: 20px; font-style: oblique">Gdy mi smutno, gdy mi źle, robię sobie cold brew. Wiem, że to się nie rymuje, ale to prawda</q> - Ania, jedna z założycielek Brewistanu
<br>
<p>Nasza oferta brzmi zachęcająco? Chciałbyś/Chciałabyś nad odwiedzić i na własnym podniebieniu przekonać się, dlaczego cold brew tak bardzo zawładnęło naszym gustem? Znajdziesz nas tu:</p>
<br> <!--tu będzie link do czegoś czy gurwa nwm jebać pzy-->

{% endblock %}


















</html>    