<!DOCTYPE html>
<html>
<head>
    <title>Pomóż nam ulepszyć Brewistan!</title>>
   
    <link rel="stylesheet" href="../CSS/pagestyle.css">
<style>

.żółte-napisy {
    background-color: khaki;
}

body{
    --variable: purple;
}


    </style>

</head>
<body>

<h1 class="żółte-napisy">Jesteśmy tu dla Was - dlatego chcemy prosić Was o pomoc!</h1>
<p>Zapraszamy wszystkich naszych klientów, fanów, miłośników, ale także tych, którzy chętnie by coś u nas zmienili lub którym z jakiegoś powodu się nie podobało, do podzielenia się swoimi wrażeniami i przesłania nam swojej opinii przy pomocy poniższego formularza.</p>
<br>
<p var(--variable)>Staramy się robić wszystko jak najlepiej, ale jesteśmy tylko ludźmi - być może coś w Brewistanie mogło zostać lepiej rozwiązane. Masz pomysł, co? Powiedz nam!</p>


<form action="#">
    <input type="text" placeholder="Śmiało, podziel się swoją opinią!" size="height: 500 px; width:600 px" required>
    <button type="oto dlatego">Prześlij</button>
    </form>







    