<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="D:\Python\Rzeczy\stronki\Flaskowe\Brewistan\templates\pagestyle.css">
    <title>Brewistan – republika Cold Brew</title>
    <meta charset="UTF-8">
    <meta name="description" content="Zapraszamy do Brewistan na najlepsze cold brew! Znajdziesz tu wszystko, co związane z kawą.">
    <meta name="keywords" content="Brewistan, kawiarnia, cold brew, cold brew sposób przygotowania, cold brew co to jest, czym jest cold brew, sposoby parzenia kawy, kawa mrożona, jak przygotować cold brew, cold brew Brewistan, cold brew dodatki">
    <meta name="author" content="Jan Susmaga">



</head>

<body>
    {% block body %}{% endblock %}
</body>




</html>    