body {
    background-color: beige;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto;
    margin-left: 20%;
    margin-right: 20%;
}
h1 {
    text-align: center;
    text-decoration-line: underline 1px;
    font-size: 30px;
}

h2 {text-align: left;
    font-size: 26px;
    font-weight: normal;
}

p {
    text-align: justify;
    text-transform: none;
    font-size: 20px;
    family-font: helvetica;

}
a:active a:link a:visited a:hover { 
    text-transform: none;
    font-size: 20px;


}