<!DOCTYPE html>
<html>
<head>
    <title>Brewistan – republika Cold Brew</title>>
    <meta name="description" content="Zapraszamy do Brewistan na najlepsze cold brew! Znajdziesz tu wszystko, co związane z kawą.">
    <meta name="keywords" content="Brewistan, kawiarnia, cold brew, cold brew sposób przygotowania, cold brew co to jest, czym jest cold brew, sposoby parzenia kawy, kawa mrożona, jak przygotować cold brew, cold brew Brewistan, cold brew dodatki">
    <meta name="author" content="Jan Susmaga">> 
    <link rel="stylesheet" href="../CSS/pagestyle.css">
<style>


p.store {
    text-align: center;
}

h1, h2, h3 {
    text-align: center;
}

ul, li {
    font-size: 20px;
    
}
</style>


</head>

<body>


    <a href="../main page.html">Powrót do strony głównej</a>

<h2>Co znajdę w sklepie Brewistanu?</h2>

<img src="../Images/store1.jpg"; alt="ziarna ze sklepu"; class="store">
<p>Śmiemy twierdzić, że całkiem sporo! Właściwie wręcz wszystko, co przyda Ci się do przyrządzenia pysznego, domowego cold brew (czy równie dobrego jak nasze? Możemy co najwyżej zachęcić do próbowania!).
   
   W ofercie naszego sklepu zamieszczamy wyłącznie przetestowane, sprawdzone własnoręcznie produkty i artykuły od renomowanych marek. Spróbowaliśmy każdej ze sprzedawanych kaw, zaparzaliśmy ją w każdym z oferowanych sprzętów. Jak inaczej mielibyśmy pewność, że będą Wam dobrze i długo służyć?

   No dobrze, słowa słowami, obietnice obietnicami, ale co właściwie możecie u nas kupić?</p>


<ul>
   <li>Kawy - zarówno ziarniste, jak i uprzednio zmielone (możemy je również zmielić dla was na miejscu!), pochodzące z takich krajów jak:</li>
    <ul>
    <li>Paragwaj</li>
    <li>Brazylia</li>
    <li>Tanzania</li>
    <li>Kenia</li>
    <li>Indonezja</li>
   </ul>
   <li>Czajniki</li>
   <li>Kawiarki</li>
   <li>Dripy</li>
   <li>oraz części i osprzętowanie do nich: uszczelki, filtry, zapasowe elementy.</li>
</ul>
<p style="text-decoration: underline;">Wszystko w jednym miejscu i wszystko za jednym zamachem - dokładnie tak, jak lubimy!</p>















</body>
</html>    